{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block head %}
    <title>너와 나의 달달한 소스, JamJam</title>
    {% endblock %}
    
    <link href="{% static 'jamjamapp/css/layout1.css' %}" rel="stylesheet" />

</head>

<body>
    <!--네브바 구현-->
    <div class="header">
        <img class="navbar-base" src="{% static 'jamjamapp/img/nav_base.png' %}">
        <img class="navbar-brand" src="{% static 'jamjamapp/img/logo.png' %}">
        <nav class="base first navbar" id="mainNav">
            <ul class="navbar-first">
                <li>
                    <a class="navbar-link-diary" href="">다이어리</a>
                </li>
                <li>
                    <a class="navbar-link-community" href="">커뮤니티</a>
                </li>
                <li>
                    <a class="navbar-link-course" href="">코스</a>
                </li>
                <li>
                    <a class="navbar-link-jamshop" href="">잼샵</a>
                </li>
                <li>
                    <a class="navbar-link-mypage" href="">마이페이지</a>
                </li>
                <li>
                    <img src="{% static 'jamjamapp/img/jam_white.png' %}" weight="30" height="30">
                    <a class="navbar-jam-count">2개임</a>
                </li>
                <li>
                    <a class="navbar-hellouser" href="">username님 환영합니다.</a>
                </li>
                <li>
                    <a class="navbar-link-logout" href="">로그아웃</a>  
                </li>
            </ul>
        </nav>
    </div>
    {% block contents %}
    {% endblock %}
</body>
</html>